@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron" style="border-radius: 0; padding: 50px 0px;  color: black; margin: 0">
    <div class="container">
        <h1 class="text-uppercase">About us</h1>
        <h3 class="lead text-capitalize" style="margin-left: 130px">Here you can read more about Rush Hour !</h3>
    </div>
</div>
<div class="row" style="margin: 50px 35px">
    <div class="col-md-12">
        <h2 style="margin-bottom: 20px" align="center">Information</h2>
        <p align="center">We are a new company from 2018 which provides appointment booking system.</p>
        <p align="center"><u>Why to choose us?</u> Here are five reasons:</p>
        <ul class="list-group">
            <li class="list-group-item active">1. <i>Great Activities!</i></li>
            <li class="list-group-item">2. <i>Email notifications everytime you create new appointment! </i></li>
            <li class="list-group-item">3. <i>Great maintenance!</i></li>
            <li class="list-group-item">4. <i>Personal Calendar for your appointments!</i></li>
            <li class="list-group-item">5. <i>Many happy customers!</i></li>
        </ul>
    </div>
</div>

<h2>After you register you will be able to: </h2>

<div align="center" style="margin: 50px 35px">
    <div class="col-md-6">
        <h3>Manage Your Appointmetns</h3>
        <img src="~/Content/images/appall.jpg" class="img-responsive">
        <p>
            View and manage all of your appointments. Search through them. Edit them.
        </p>
    </div>
</div>
<div align="center" style="margin: 50px 35px">
    <div class="col-md-6">
        <h3>View Your Calendar</h3>
        <img src="~/Content/images/calendar.jpg" class="img-responsive">
        <p>
          The Calendar will help you managing your appointments easier.  
        </p>
    </div>
</div>
<div align="center" style=" margin: 50px 35px">
    <div class="col-md-6">
        <h3>View Our Activities</h3>
        <img src="~/Content/images/act.jpg" class="img-responsive">
        <p>
            We offer different activities. You can check their prices, duration and information after your register.
        </p>
    </div>
</div>
<div align="center" style="margin: 50px 35px">
    <div class="col-md-6">
        <h3>Receive Email Notifications</h3>
        <img src="~/Content/images/email.jpg" class="img-responsive">
        <p>
            Receive Email notification everytime you create new appointment.
        </p>
    </div>
</div>
