
@{
    ViewBag.Title = "Our Activities</";
}

<h2>Our Activities</h2>


<div align="center" style=" margin: 50px 35px">
    <div class="col-md-6">
        <h3>PC Repair</h3>
        <h4>Duration: 1 Hour</h4>
        <h4>Price: 20$</h4>
        <img src=" ~/Content/images/pc-repair.jpg"  class="img-responsive">
        <p>
            Nothing is more frustrating than something not working when you need it most. Doesn't it seem like your computer always needs repair at the worst times? Perhaps your final paper is due for a class or you simply can't do the work you need to - whatever the case, getting your PC repaired is essential.
        </p>
    </div>
</div>
<div align="center" style="margin: 50px 35px">
    <div class="col-md-6">
        <h3>Windows Install</h3>
        <h4>Duration: 1 Hour</h4>
        <h4>Price: 10$</h4>
        <img src="~/Content/images/win-install.jpg"  class="img-responsive">
        <p>
            Windows OS, computer operating system (OS) developed by Microsoft Corporation to run personal computers (PCs). Featuring the first graphical user interface (GUI) for IBM-compatible PCs, the Windows OS soon dominated the PC market. Approximately 90 percent of PCs run some version of Windows.
        </p>
    </div>
</div>
<div align="center" style=" margin: 50px 35px">
    <div class="col-md-6">
        <h3>Mac OS Install</h3>
        <h4>Duration: 1 Hour</h4>
        <h4>Price: 10$</h4>
        <img src="~/Content/images/macos-install.jpg"  class="img-responsive">
        <p>
            MacOS (previously Mac OS X, then OS X) is a series of graphical operating systems developed and marketed by Apple Inc. since 2001. It is the primary operating system for Apple's Mac family of computers. Within the market of desktop, laptop and home computers, and by web usage, it is the second most widely used desktop OS, after Microsoft Windows.
        </p>
    </div>
</div>
<div align="center" style="margin: 50px 35px">
    <div class="col-md-6">
        <h3>PC Diagnostic</h3>
        <h4>Duration: 1 Hour </h4>
        <h4>Price: 5$</h4>
        <img src="~/Content/images/pc-diagnostic.jpg"  class="img-responsive">
        <p>
            No matter who you are, whether newbie or veteran, your Windows system will eventually run into problems that aren’t so easy to diagnose. (It happens on other operating systems too.) When that happens, what will you do?
            Hardware problems can be a huge pain in the neck on Windows. They tend to occur most often when you’re using an older version of the operating system (Vista, 7, or 8) or a cutting edge version (the Windows Insider program).
        </p>
    </div>
</div>

