@{
    ViewBag.Title = "ConfirmEmail";
}
<div style="height:100px;"></div>
<div style="text-align: center;">
    <h1>Welcome to Rush Hour.</h1>
    <br>
    <h1>Thank you for registrating.</h1>
    <h2>Please check your email for confirmation link.</h2>
</div>
<div style="height:100px;"></div>